p
{ 
font-family: 'Courier New', Courier, monospace;
font-size: 16px;
border: 50px solid #0a921c;
color: blueviolet;
padding: 50;
text-align: center;
background-color: #d3cece;
margin: 20px;
text-decoration: underline;
text-transform: uppercase;
}
h1
{
font-family: 'Courier New', Courier, monospace;
border: #0a921c solid 50px;
}
